/*----------------- Colors -----------------*/
:root {
  --color1: #57bc90;
  --color2: #018374;
  --color3: #015147;
  --colorbg: #F7F7F7;
  --colorborder: #F7F7F7;
}

.parallax {
    /* The image used */
    /* background-image: url("frangipani.jpg"); */

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    text-align: center;
    color: white;
}
.parallax1{
  background-image: url("flower3.jpg");
  min-height: 600px;
}
.parallax2{
  background-image: url("flower3.jpg");
  min-height: 300px;
}

.module{
  padding: 10vh 10vw;
  text-align: center;
}
/*----------------- About -----------------*/
.about-module{
  /* background-color: var(--colorbg); */
}
/*----------------- Shop -----------------*/
.shop-module{
}
.shop-module .cl-md-6{
  float: left;
}
/*----------------- Contact -----------------*/
.contact-module .btn{
  
}
