/*----------------- Colors -----------------*/
body {
  font-family: 'Assistant', sans-serif;
}
#hamburger {
  cursor: pointer;
  padding: 5px 10px;
  z-index: 3;
  position: relative;
}
#hamburger div {
  width: 25px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 2px;
}
.parallax {
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
.parallax1 {
  background-image: url("flower3.jpg");
}
.parallax2 {
  background-image: url("flo2.jpg");
}
.parallax3 {
  background-image: url("flo1.jpg");
}
.module {
  padding: 10vh 10vw;
  text-align: center;
}
/*----------------- About -----------------*/
/*----------------- Shop -----------------*/
.shop-module .cl-md-6 {
  float: left;
}
/*----------------- Basic care -----------------*/
.basic-care-module .module {
  height: 20vh;
  overflow: auto;
}
.basic-care-module .row .col .p {
  overflow: auto;
}
.basic-care-module .h2 {
  text-align: center;
}
/*----------------- Contact -----------------*/
