* {
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
.hidden {
  display: none;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
}
.navbar {
  font-family: 'Raleway', sans-serif;
  transition: 1s;
}
.black-background {
  background-color: #000;
}
.white-background {
  background-color: #fff;
}
#menu {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
#menu .menu_container {
  margin: auto;
  position: fixed;
  font-size: 40px;
}
#menu .menu_container .menu-option_container {
  display: none;
  font-family: 'Milonga', cursive;
  padding: 0 10px;
  margin: 5vh 0;
  text-decoration: none;
  min-width: 350px;
  cursor: pointer;
}
@media (max-width: 1400px) {
  #menu .menu_container .menu-option_container {
    font-size: 35px;
    min-width: 300px;
  }
}
@media (max-width: 767px) {
  #menu .menu_container .menu-option_container {
    font-size: 30px;
    min-width: 275px;
  }
}
#menu .menu_container .menu-option_container a {
  transition: font-weight 0.4s ease-in-out;
  color: #fff;
  text-decoration: none;
  vertical-align: top;
}
#menu .menu_container .menu-option_container .menu_dash {
  position: relative;
  height: 2px;
  margin: 1px 0;
}
#menu .menu_container .menu-option_container .menu_dash__inner {
  width: 0%;
  height: 2px;
  margin: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
#menu .menu_container .menu-option_container .menu_dash__inner--hover {
  width: 100%;
}
#hamburger {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #000;
  padding: 8px 10px;
}
#hamburger div {
  width: 25px;
  height: 4px;
  margin: 5px 0;
  border-radius: 2px;
  background-color: #fff;
}
#hamburger .hamburger-animations {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes bar1-animation {
  50% {
    transform: translate(0px, 9px);
  }
  100% {
    transform: translate(0px, 9px) rotate(45deg);
  }
}
@keyframes bar1-animation--reverse {
  50% {
    transform: translate(0px, 9px);
  }
  100% {
    transform: translate(0px, 9px) rotate(45deg);
  }
}
#hamburger .bar1-animate {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar1-animation;
}
#hamburger .bar1-animate--reverse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar1-animation--reverse;
  animation-direction: reverse;
}
@keyframes bar2-animation {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes bar2-animation--reverse {
  0% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
#hamburger .bar2-animate {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar2-animation;
  animation-delay: 0.2s;
  animation-duration: 0.1s;
}
#hamburger .bar2-animate--reverse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar2-animation--reverse;
  animation-duration: .25s;
}
@keyframes bar3-animation {
  50% {
    transform: translate(0px, -9px);
  }
  100% {
    transform: translate(0px, -9px) rotate(-45deg);
  }
}
@keyframes bar3-animation--reverse {
  50% {
    transform: translate(0px, -9px);
  }
  100% {
    transform: translate(0px, -9px) rotate(-45deg);
  }
}
#hamburger .bar3-animate {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar3-animation;
}
#hamburger .bar3-animate--reverse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: bar3-animation--reverse;
  animation-direction: reverse;
}
.navbar-scrolled {
  background-color: #f5f5f5;
  box-shadow: 0px 4px 20px 0px #8a8a8a52;
  transition: 1s;
  color: #000;
}
.header {
  position: relative;
  text-align: center;
  color: white;
  font-size: 120px;
  font-family: 'Milonga', cursive;
  height: 90vh;
  background-image: url('images/3.jpg');
  background-size: cover;
}
#header-image {
  size: 100%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .about__text-container {
  display: inline-block;
  width: 65%;
}
#about .about__image-container {
  right: 0;
  width: 30%;
  float: right;
}
#about .about__image-container .about__image {
  width: 100%;
  height: 100vh;
  background-image: url('images/4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
